<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/navigation.bootstrap.css' %}"> -->
</head>

<body>
    {% load cache %}
    {% cache 300 header %}
    <header>
        <a href="/news">Публикации</a>
        <a href="/profile">Личный кабинет</a>
        {% block header %}
        {% endblock header %}
        <hr>
    </header>
    {% endcache %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>